*.xlsx
.env

# Ignore Mac system files
.DS_Store
.vscode/
node_modules/
dist/
build/
*.log
.idea/

# Next.js
.next/
out/
next-env.d.ts
*.tsbuildinfo

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/


/docs/
workspace/env.example
