*.xlsx
.env

# Ignore Mac system files
.DS_Store
.vscode/
node_modules/
dist/
build/
*.log
.idea/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/


/docs/
workspace/env.example

# Ignore next build files
.next/
out/
webAdmin/tsconfig.tsbuildinfo
webAdmin/next-env.d.ts
